<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>	
	<div class="navbar">
		<li><a href="/">Go to the Home Page</a></li>
		<li><a href="/photos">Go to Photos</a></li>
		<li><a href="/users">Go to Users</a></li>	
		<li><a href="/logout">Logout</a></li>
	</div>
</body>
</html>