<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>	
	<div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='margin-left: 40px; margin-top: 30px'>
            myface
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/">Home page</a></li>
            <li><a class="dropdown-item" href="/users">Users page</a></li>
            <li><a class="dropdown-item" href="/photos">Photos page</a></li>
            <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
          </ul>
        </div>
</body>
</html>