<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h1>Photos Index</h1>
	<a href="/photos/new">Add new photo</a>
	<main>
		<ul>
			<% photos.forEach(function(photos) { %>
				<li>
					<a href="/photos/<%=photos._id%>"><%=photos.title%></a>
						<img src="<%=photos.url%>"><br/>
						<%=photos.description%>
				</li>
			<%})%>
		</ul>
	</main>
</body>
</html>