<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="photos.css">
</head>
<body>
	<%- include ../partials/_navbar.ejs %>
	<h1>Add a new photo</h1>

	<form action="/photos" method="POST">
		<select>
			<% users.forEach(function(user) { %>
				<option value="<%=user._id%>"><%=user.name%></option>
			<%})%>

		</select>

			Title: <input type="text" name="title"><br/>
			Image:	<input type="text" name="url"><br/>
			Description: <input type="text" name="description"><br/>
			<input type="submit" name="" value="Post Photo">
		
	</form>
</body>
</html>