<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&effect=3d" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            myface
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/">Home page</a></li>
            <li><a class="dropdown-item" href="/users">Users page</a></li>
            <li><a class="dropdown-item" href="/photos">Photos page</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </div>
        <header>
            <h1 class="font-effect-3d">Welcome to MyFace</h1>
        </header>
        <input type='checkbox' id='form-switch'>
    <form id='login-form' action="users/login" method='post'>
    <input type="text" placeholder="Username" required>
    <input type="password" placeholder="Password" required>
    <button type='submit'>Login</button>
    <label for='form-switch'><span>Register</span></label>
    </form>
    <form id='register-form' action="/register" method='post'>
    <input type="text" placeholder="Username" required>
    <input type="email" placeholder="Email" required>
    <input type="password" placeholder="Password" required>
    <button type='submit'>Register</button>
    <label for='form-switch'>Sign In Now</label>
        </form>
            </main>
    </body>
</html>