<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
     <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&effect=3d" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <navbar>
            <ul id="navigation">
                <li><a href="/photos">Photos</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </navbar>
        <header>
            <h1 class="font-effect-3d">Welcome to MyFace</h1>
        </header>
        <input type='checkbox' id='form-switch'>
    <form id='login-form' action="users/login" method='post'>
    <input type="text" placeholder="Username" required>
    <input type="password" placeholder="Password" required>
    <button type='submit'>Login</button>
    <label for='form-switch'><span>Register</span></label>
    </form>
    <form id='register-form' action="/register" method='post'>
    <input type="text" placeholder="Username" required>
    <input type="email" placeholder="Email" required>
    <input type="password" placeholder="Password" required>
    <button type='submit'>Register</button>
    <label for='form-switch'>Sign In Now</label>
        </form>
            </main>
    </body>
</html>