#toprow{
    color: whitesmoke;
    background-color: #365AE0;
    width: 100vw;
}

#middlerow{
    color: whitesmoke;
    background-color: #ebedf0
}

.header{
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    font-size: 70px;
    margin-left: 30px
}

.dropdown{
    position: relative;
    margin: 30px 5px;
}

.form{
    border: solid 5px gray;
    padding: 10px;
    margin-top: 50%;
    margin-bottom: 50%;
    color: black
}


/* Bootstrap Overrides */
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid #footer{
    padding-left: 0px !important;
    padding-right: 0px !important;
}